header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 4em;
}

.title a{
    color:white;
    text-decoration: none;
}

main{
    margin-top: 50px;
}

.gameSearch form{
   margin-top: 20px;
   display: flex;
   gap: 10px;
}

.gameSearch form #gametxt{
    width: 75%;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.gameSearch form #platform{
    width: 25%;
    color: white;
    font-size: 1.7em;
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.game{
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: rgba(1, 92, 219, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.game .gameContentLeft{
    display: flex;
    align-items: center;
    gap: 30px;
}

.game .gameContentLeft .gameText{
    display: flex;
    flex-direction: column;
}

.game .gameContentRight{
    display: flex;
    align-items: center;
    gap: 60px;
}

.gameImg img{
    width: 300px;
    border-radius: 16px;
    aspect-ratio: 92 / 43;
    object-fit: cover;
}

.gameTitle{
    font-weight: bold;
    font-size: 2em;
}

.gameYear{
    font-weight: bold;
    font-size: 2em;
}

.gameButtons{
    align-self: center;
}


.gameButtons a{
    color: white;
    text-decoration: none;
    font-size: 7em;
    margin-right: 30px;
    
}

.gameButtons a i{
    transition-duration: 300ms;
}

.gameButtons a .fa-pen-square:hover{
    transition-duration: 300ms;
    color: #ffff66;
}

.gameButtons a .fa-plus-square:hover{
    transition-duration: 300ms;
    color: #00E466;
}

footer{
    margin-top: 500px;
}

@media screen and (max-width: 900px) {

    header{
        flex-direction: column;
        align-items: center;
    }
    
    nav{
        font-size: 0.60em;
    }
    
    nav ul{
        gap: 1px !important; 
    }
    
    nav ul li:not(:last-child):after{
        content: '' !important;
    }
    
    .gameSearch{
        font-size: 0.8em;
    }
    
    .gameSearch h2{
        text-align: center;
        font-size: 2em;
    }
    
    form{
        flex-direction: column-reverse;
    }
    
    form #gametxt, form #platform{
        width: 100% !important;
    }
    
    main{
        margin-top: 20px;
    }
    
    .game{
        font-size: 0.7em;
    }

    .gameContentLeft, .gameContentRight{
        gap: 10px !important;
    }
    
    
    .gameImg img{
        width: 170px;
    }
    
    .gameTitle{
        font-size: 1em;
    }
    
    .gamePlat{
        font-size: 1em;
    }
    
    .gameYear{
        font-size: 1.4em;
    }

    
    .gameButtons a{
        font-size: 2em;
        margin-right: 10px;
        margin-left: 10px;
    }

    

}

