@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    color: white;
    background: linear-gradient(90deg, #0f113d, #00365d);
}

.content{
    padding-left: 10%;
    padding-right: 10%;
}

nav ul{
    display: flex;
    gap:20px;
    justify-content: right;
    padding: 20px;
    font-size: 1.7em;
    font-weight: bold;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    transition-duration: 300ms;
    border-radius: 10px;
    padding: 3px;
}

nav a:hover{
   transition-duration: 300ms;
   background: rgba(0, 0, 255, 0.40);
}

nav ul li:not(:last-child):after{
  content: '|';
}

footer{
    display: flex;
    background-color: #000123;
    gap: 30px;
    padding: 100px;
    justify-content: space-between;
}

.footLeft{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footLeft span:first-child{
    font-size: 1.4em;
    font-weight: bold;
}

.footRight a{
    color: #015CDB;
    text-decoration: none;
    transition-duration: 0.5s;
    
}

.footRight .footLinks{
    display: flex;
    gap: 10px;
}

.footRight .footLinks a:hover{
    color: #7fdbff;
    transition-duration: 0.5s;
}

.footRight .socialMedia{
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    color: white;
}

.footRight .socialMedia a{
    padding-left: 5px;
    padding-right: 5px;
}

.footRight .socialMedia a:first-child:hover{
    color: white;
    background-color: #5865F2;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.footRight .socialMedia a:nth-child(2):hover{
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.footRight .socialMedia a:nth-child(3):hover{
    color: white;
    background-color: #1DA1F2;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.footRight .socialMedia a:last-child:hover{
    color: white;
    background-color: #3b5998;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.errorbox{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.erroritems{
    background-color: #f8d7da;
    color: #721c24;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #f5c6cb;
}

/* DISEÑO DE TABLET */

@media screen and (max-width: 1500px) {
    .content{
        padding-left: 5%;
        padding-right: 5%;
    }
    
    
    
    .footLinks{
        font-size: 0.8em;
        justify-content: center;
    }
}

/* DISEÑO DE MOVIL */

@media screen and (max-width: 900px) {
    .content{
        padding-left: 3%;
        padding-right: 3%;
    }
    footer{
        padding: 30px;
        flex-direction: column-reverse;
    }
}