@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    color: white;
    background: linear-gradient(90deg, #0f113d, #00365d);
}

.content{
    padding-left: 10%;
    padding-right: 10%;
}

.title{
    padding-top: 5px;
}

.title > a{
    background: linear-gradient(-70deg, #2dff00, #0095ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

nav > ul{
    display: flex;
    gap:30px;
    justify-content: right;
    padding: 20px;
    font-size: 1.7em;
    font-weight: bold;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    
    
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
    transition-duration: 300ms;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    transition-duration: 300ms;
}

nav > ul > li > a:hover{
    transition-duration: 300ms;
    color: lightgrey;
}

.glUserImg{
    margin-top: 3px;
}

.glUserImg img{
    width: 50px;
    margin: 0px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.tippy-box{
    background: rgba(1, 92, 219, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.tippy-arrow{
    display: none;
}

.drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    gap: 5px;
}

.drop li a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    transition-duration: 300ms;
}

.drop li a:hover{
    transition-duration: 300ms;
    color: lightgray;
}

footer{
    display: flex;
    background-color: #000123;
    gap: 30px;
    padding: 100px;
    justify-content: space-between;
}

.footLeft{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footLeft span:first-child{
    font-size: 1.4em;
    font-weight: bold;
}

.footRight a{
    color: #015CDB;
    text-decoration: none;
    transition-duration: 0.5s;
    
}

.footRight .footLinks{
    display: flex;
    gap: 10px;
}

.footRight .footLinks a:hover{
    color: #7fdbff;
    transition-duration: 0.5s;
}

.footRight .socialMedia{
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    color: white;
}

.footRight .socialMedia a{
    padding-left: 5px;
    padding-right: 5px;
}

.footRight .socialMedia a:first-child:hover{
    color: white;
    background-color: #5865F2;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.footRight .socialMedia a:nth-child(2):hover{
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.footRight .socialMedia a:nth-child(3):hover{
    color: white;
    background-color: #1DA1F2;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.footRight .socialMedia a:last-child:hover{
    color: white;
    background-color: #3b5998;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.errorbox{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.erroritems{
    background-color: #f8d7da;
    color: #721c24;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #f5c6cb;
}

/* DISEÑO DE TABLET */

@media screen and (max-width: 1500px) {
    .content{
        padding-left: 5%;
        padding-right: 5%;
    }
    
    
    
    .footLinks{
        font-size: 0.8em;
        justify-content: center;
    }
}

/* DISEÑO DE MOVIL */

@media screen and (max-width: 900px) {
    .content{
        padding-left: 3%;
        padding-right: 3%;
    }
    nav{
        font-size: 0.8em;
    }
    
    nav > ul{
        gap: 10px !important; 
    }
    footer{
        padding: 30px;
        flex-direction: column-reverse;
    }
}