header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 4em;
}

.title a{
    color:white;
    text-decoration: none;
}

main{
    margin-top: 50px;
}

.gameSearch form{
   margin-top: 20px;
   display: flex;
   gap: 10px;
}

.gameSearch form #gametxt{
    width: 75%;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#userList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.userDiv{
    display: flex;
    margin-top: 20px;
    background-color: #002244;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.userLeft{
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImg img{
    width: 40px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    vertical-align: middle;
}

.userText{
    display: flex;
    flex-direction: column;
}

.userText span a{
    text-decoration: none;
}

.userText span:first-child a{
    color: white;
    font-weight: bold;
}

.userText span:last-child a{
    color: lightgray;
}

.userButton{
    justify-self: end;
}

.userButton > a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition-duration: 200ms;
}

.unfollowButton:hover{
    background-color: #d33333;
    transition-duration: 200ms;
}

.followButton:hover{
    background-color: #008803;
    transition-duration: 200ms;
}


footer{
    margin-top: 500px;
}

@media screen and (max-width: 900px) {

    header{
        flex-direction: column;
        align-items: center;
    }
    
    nav{
        font-size: 0.60em;
    }
    
    nav ul{
        gap: 1px !important; 
    }
    
    nav ul li:not(:last-child):after{
        content: '' !important;
    }
    
    .gameSearch{
        font-size: 0.8em;
    }
    
    .gameSearch h2{
        text-align: center;
        font-size: 2em;
    }
    
    form{
        flex-direction: column-reverse;
    }
    
    form #gametxt, form #platform{
        width: 100% !important;
    }
    
    main{
        margin-top: 20px;
    }
    
    .userDiv{
        width:80%;
    }
    
    #userList{
        justify-content: center;
        gap: 10px;
    }
}

